{% set title = "Peer Pact Home" %}
{% block narrator %}
{% endblock %}
{% block content %}
	<div class="center">
		<h2>Great! Let’s set up your peer pact for this week.</h2>
		<p>Since it's your first week, go light. <br> <br> This week I plan to have done:</p>
		<script>
		$().ready(function() {
			$(".change-project-date").html(store.get("project-day") + ", " + store.get("project-time"));
			$(".week-plan").val(store.get('week-plan'));
			$(".week-plan").change(function() {
				store.set("week-plan", $(this).val());
			})
		});
		</script>
		<textarea class="week-plan" style="width:500px;height:90px;"></textarea>
		<p>by my due date (<b class="change-project-date">Sunday, 12am</b>)</p>
		<br><br><br>
		<a href="4.html">I Agree to this Peer Pact.</a>
		
	</div>
{% endblock %}
{% extends "../partials/basic-template.njk" %}