{% set title = "Peer Pact Home" %}
{% block narrator %}
	<b>A couple of hours pass, and you get another email from your peer!</b>
{% endblock %}
{% block content %}
	<div class="center" style="max-width:1000px;">
		<h2>Email received:</h2>
		<img src="img/emails/encourage.png" alt="">
		<br><br>
		<a href="8.html">(Next Event)</a>
	</div>
{% endblock %}
{% extends "../partials/basic-template.njk" %}