
.narrator, .narrator-bar {
	position:fixed;
	bottom: 0;
	box-shadow: 0 2px 5px $grey;
	z-index: 3;
}
.narrator-bar {
	right: 10%;
	width: 250px;
	height: 40px;
	display:flex;
	justify-content: space-around;
	align-items: center;
	cursor: pointer;
	background: white;
	&:hover {
		color: black;	
	}
}
.narrator {
	background: rgba(255,255,255, .9);
	right: 10%;
	margin-bottom: 50px!important;
	.pk-nav {
		padding:10px;
		a {
			font-size:14px;
			padding: 0 6px;
		}
	}
}

//if smaller, make narrator on the bottom with hide on scroll.
@include media("<900px") {
	.narrator {
		right: 10%;
		width: 80%;
		.pk-nav a {
			font-size:11px;
		}
	}
}

.hide {
	display:none;
}

