//DO NOT USE IF USING BULMA: use bulma/variables to set colors instead.
// set up your colors and other variables here

// $light-grey: #FAFAFA;
// // $green: #DEECA3;
// $blue: #73CEE2;
// $red: #FF6464;
// $orange: #FDC034;
// $tint: rgba(88,85,83,.4);
// $black: #999;
// $grey: #d0d0d0;

// https://www.gamefaqs.com/boards/585245-atari-video-cube/66909873
// $bronze: #8C7853;
// $silver: #E6E8FA;
// $gold: #CFB53B;
// 
$bronze: #ccc;
$silver: #bbb;
$gold: #aaa;