{% set title = "Home Page 2" %}
{% block nav %}
	{% include "nav-guest.njk" %}
{% endblock %}

{% block content %}
	<div class="section main-heading">
		<div class="max-width960">
			<br><br><br>
			<h2 class="title mh-title">Scroll through our list of consultants <br>and pick the one that's best suited for you.</h2>
			<br>
			<h3 class="subtitle">Each of our consultants has industry experience in a role you'll be looking for:</h3>
			<br><br>
			<article class="media recruiter">
				<figure class="media-left">
					<p class="image is-96x96">
						<img src="http://bulma.io/images/placeholders/128x128.png">
					</p>
				</figure>
				<div class="media-content">
					<div class="content">
						<p>
							<strong>Kirill Pavlov</strong> is a recruiter and data scientist with Terminal 1. He has industry experience as a Software Engineer at Yandex and as a Data Scientist in Asia Miles.
						</p>
					</div>
					<nav class="level is-mobile">
						<div class="level-left">
							<a class="level-item">
								<span class="icon is-small"><i class="fa fa-reply"></i></span>
							</a>
							<a class="level-item">
								<span class="icon is-small"><i class="fa fa-retweet"></i></span>
							</a>
							<a class="level-item">
								<span class="icon is-small"><i class="fa fa-heart"></i></span>
							</a>
						</div>
					</nav>
				</div>
			</article>
			<br><br>
			<nav class="pagination is-centered">
				<ul class="pagination-list">
					<li>
						<a class="pagination-link"><i class="fa fa-arrow-left" aria-hidden="true"></i>
						</a>
					</li>
					<li>
						<a class="pagination-link">Select Kirill as My Recruiter</a>
					</li>
					<li>
						<a class="pagination-link"><i class="fa fa-arrow-right" aria-hidden="true"></i>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="hero-body main-process has-text-centered">
		<div class="max-width960">
			<div class="column">
				<h1 class="title is-2">
				Our process is designed to help you <br> shine and nab the interview.
				</h1>
				<h2 class="subtitle is-4">
				We're experienced recruiters and know what companies are looking for.
				</h2>
				<br><br>
			</div>
			<div class="column 3col">
				<div class="columns has-text-centered">
					<div class="column is-4">
						<img src="http://bulma.io/images/placeholders/128x128.png" alt="">
						<p>Fill out a Basic Profile</p>
					</div>
					<div class="column is-4">
						<img src="http://bulma.io/images/placeholders/128x128.png" alt="">
						<p>Add Badges to Apply for Roles</p>
					</div>
					<div class="column is-4">
						<img src="http://bulma.io/images/placeholders/128x128.png" alt="">
						<p>Spice Up your Resume with Extras</p>
					</div>
					<!--					<b>Steps:</b>
					<br><br>
					<p>
						1. Fill in a basic profile <br>
						2. Add at least 1 badge for each role (badges can either come from MC quiz, take-home assessments, or previous accomplishments) <br>
						3. Optionally add extras like references <br><br>
						<b>Depending on your badge, we help get you in the door at with multiple roles different companies, some of which use us exclusively.</b>
					</p>-->
				</div>
				<br><br>
				<h3 class="subtitle is-4">Depending on your badge, we help get you in the door at multiple roles with different companies, some of which use us exclusively.</h3>
			</div>
		</div>
	</div>
	<div class="hero-body main-why">
		<div class="max-width960">
			<div class="column ">
				<h1 class="title is-2">
					It's easy to get started
				</h1>
			</div>
			<div class="column">
				<div class="content">
					<p>
						
					</p>
				</div>
			</div>
		</div>
		<br><br><br>
		<div class="has-text-centered">
			<a href="" class="button is-large is-primary">Apply with Terminal 1 Now</a>
		</div>
		<br><br><br>
	</div>
	
{% endblock %}
{% block narrator %}
{% endblock %}
{% extends "../partials/my-template.njk" %}