{% set title = "Landing Page" %}
{% block content %}
	<br><br><br>
	<div class="container">
		<div class="columns">
			<div class="column is-3">
				<nav class="panel">
					<p class="panel-heading">
						Step 2 of 4
					</p>
					<a class="panel-block is-completed pknav prev">
						<span class="panel-icon" style="font-size:28px;margin-right:.5em;margin-left:.2em;">
							<i class="fa fa-check"></i>
						</span>
						<div>
							<h2 class="title is-5 is-marginless">Basic Profile</h2>
							<p>Thanks for filling it out!</p>
						</div>
					</a>
					<a class="panel-block is-active">
						<span class="panel-icon" style="font-size:28px;margin-right:.7em;margin-left:0em;">
							<i class="fa fa-file-text-o"></i>
						</span>
						<div>
							<h2 class="title is-5 is-marginless">Assessment</h2>
							<p>Select your tech assessment:</p>
						</div>
					</a>
					<a class="panel-block is-disabled">
						<span class="panel-icon" style="font-size:28px;margin-right:.5em;margin-left:.2em;">
							<i class="fa fa-star"></i>
						</span>
						<div>
							<h2 class="title is-5 is-marginless">View Companies</h2>
							<p></p>
						</div>
					</a>
					<a class="panel-block is-disabled">
						<span class="panel-icon" style="font-size:28px;margin-right:.5em;margin-left:.2em;">
							<i class="fa fa-send-o"></i>
						</span>
						<div>
							<h2 class="title is-5 is-marginless"></h2>
							<p></p>
						</div>
					</a>
				</nav>
			</div>
			<div class="column is-8">
				<div class="has-text-centered">
					<h1 class="title is-4">Assessments help us to showcase you to companies.</h1>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}
{% extends "../partials/basic-template.njk" %}