{% set title = "Landing Page" %}
{% block content %}
	<br><br><br>
	<div class="container">
		<div class="columns">
			<div class="column is-3">
				<nav class="panel">
					<p class="panel-heading">
						Step 3 of 4
					</p>
					<a class="panel-block is-completed">
						<span class="panel-icon" style="font-size:28px;margin-right:.5em;margin-left:.2em;">
							<i class="fa fa-check"></i>
						</span>
						<div>
							<p class="title is-5 is-marginless">Choose Project</p>
							<p>Select a project to start</p>
						</div>
					</a>
					<div class="panel-block">
						<div class="card" choice="user_project">
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="image" style="height: 40px; width: 40px;">
											<img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
										</figure>
									</div>
									<div class="media-content">
										<p class="title is-4" pkv="title">Let's Write!</p>
										<p class="subtitle is-6" pkv="subtitle">Intro Project</p>
									</div>
								</div>
								<div class="content">
									Write <b>5000 words</b> a week for <b>6 weeks</b>. It can be for anything you'd like. This is an intro project to get you started on peer pact.
								</div>
							</div>
						</div>
					</div>
					<a class="panel-block is-completed">
						<span class="panel-icon" style="font-size:28px;margin-right:.5em;margin-left:.2em;">
							<i class="fa fa-check"></i>
						</span>
						<div>
							<h2 class="title is-5 is-marginless">Sign up</h2>
							<p>Login with email or Google+</p>
						</div>
					</a>
					<div class="panel-block">	
						<p class="has-text-centered">
							<i>Signed in. Welcome Spencer!</i>
						</p>
					</div>
					<a class="panel-block is-active">
						<span class="panel-icon" style="font-size:28px;margin-right:.7em;margin-left:0em;">
							<i class="fa fa-handshake-o"></i>
						</span>
						<div>
							<h2 class="title is-5 is-marginless">Peer Up</h2>
							<p>So you don't go alone</p>
						</div>
					</a>
					<a class="panel-block is-disabled">
						<span class="panel-icon" style="font-size:28px;margin-right:.5em;margin-left:.2em;">
							<i class="fa fa-file-text-o"></i>
						</span>
						<div>
							<h2 class="title is-5 is-marginless">Sign Pact</h2>
							<p>Commit to your project</p>
						</div>
					</a>
					<a class="panel-block is-disabled">
						<span class="panel-icon" style="font-size:28px;margin-right:.5em;margin-left:.2em;">
							<i class="fa fa-send-o"></i>
						</span>
						<div>
							<h2 class="title is-5 is-marginless">Let's Go</h2>
							<p>Get started on your first week!</p>
						</div>
					</a>
				</nav>
			</div>
			<div class="column is-9">
				<h1 class="title is-4">Step 3: Grab a Peer</h1>
				<p class="subtitle is-5">A peer helps you to stay motivated and validates your motivation with their own.</p>
				<br><br><br>
				<button class="button is-primary is-medium pknav next">Peer me up</button> 
				<br><br>
				<button class="button is-medium pknav next">I want to invite someone...</button>
				<br><br><br><br><br>
				<div class="content">
					<i>
					It's always better to start a long, hard journey with a trustworthy peer. When the going gets tough, you can take comfort in the fact that they are working just as hard as you are to reach their goal too. And if they aren't, enjoy the sweet savor of victory as you send them off into the cold, dark void of wasted sweat and tears.
					</i>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% extends "../partials/basic-template.njk" %}