{% set title = "Role" %}
{% block nav %}
{% endblock %}
{% block content %}
	<div class="columns">
		{% include 'left-nav.njk' %}
		<div class="column is-7 section-role">
			<div class="section">
				{% set stage = 1 %}
				{% include "breadcrumbs.njk" %}
				<div class="message is-info">
					<div class="message-body">
						Choose a level that matches your capabilities and skillsets.
					</div>
				</div>
				<div class="columns">
					<div class="column is-1">
						<div class="line"></div>
					</div>
					<div class="column is-10">
						{% set lvl = "Junior" %}
						{% include "role-badge-lvl.njk" %}
						{% set lvl = "Mid" %}
						{% include "role-badge-lvl.njk" %}
						{% set lvl = "Associate" %}
						{% include "role-badge-lvl.njk" %}
					</div>
				</div>
			</div>
		</div>
		<div class="column is-3 helpertxt">
			<div class="section helpertxt">
				<h2 class="title is-4">T1 Says</h2>
				<h2 class="subtitle">Your Role</h2>
				<div class="content">
					<p>Front End Engineer (Modern Web) </p>
					<p>Badges Needed: UI Design, Single Page Apps, Algorithms, Testing</p>
					<h2>How do I earn Badges?</h2>
					<p>Earn badges by passing assessments.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% extends "../partials/basic-template.njk" %}