{% set title = "Assessment" %}
{% block nav %}
{% endblock %}
{% block content %}
	<div class="columns">
		{% include 'left-nav.njk' %}
		<div class="column is-7 section-role">
			<br><br>
			{% include '_assessment.njk' %}
		</div>
		<div class="column is-3 helpertxt">
			<div class="section helpertxt">
				<h2 class="title is-4">T1 Says</h2>
				<h2 class="subtitle">Your Role</h2>
				<div class="content">
					<p>Front End Engineer (Modern Web) </p>
					<p>Badges Needed: UI Design, Single Page Apps, Algorithms, Testing</p>
					<h2>How do I earn Badges?</h2>
					<p>Earn badges by passing assessments.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% extends "../partials/basic-template.njk" %}