{% set title = "Peer Pact Home" %}
{% block narrator %}
	<b>This is the end of the prototype experience.Please go back to see other scenarios or take the final survey!</b>
<br><br>
<a href="9.html">Back</a> <br><br>
<a href="https://spencer17.typeform.com/to/QBJMzs">Final Survey</a>
{% endblock %}
{% block content %}
	<div class="center" style="max-width:1000px;">
		<script>
			$().ready(function() {
				$(".restore").click(function() {
					alert("If your peer sends you a lifeline, your link will be restored. You will again create a pact with them and turn in something at your deadline.");
				});
				$(".let-go").click(function() {
					alert("If your peer lets you go, you will arrive back at the peer chooser screen where you can ask for another anonymous peer or invite someone.");
				});
			});
		</script>
		<h2>If you broke the pact, you get this email...</h2>
		<img src="img/emails/broke.png" alt="">
		<br><br>
		<a class="restore btn">Your peer is friendly and restores the pact...</a>
		<br><br>
		<a class="let-go btn">Your peer lets you go...</a>

		<br><br>
<a href="9.html">Back</a> <br><br>
<a href="https://spencer17.typeform.com/to/QBJMzs">Final Survey</a>
	</div>
{% endblock %}
{% extends "../partials/basic-template.njk" %}