{% set title = "Peer Pact Home" %}
{% block narrator %}
<b>That's all the setup for a week. Simple, right?</b>
{% endblock %}
{% block content %}
	<div class="center">
		<h2>Ok, great! Now start working on your project!</h2>
		<a href="6.html">(Move to the next event)</a>
	</div>
{% endblock %}
{% extends "../partials/basic-template.njk" %}