{% set title = "Peer Pact Home" %}
{% block content %}
	<section class="hero is-primary is-large header-image">
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title is-2">
				Time Passes
				</h1>
				<h2 class="subtitle is-5">
				Hopefully you have begun working on your project...
				</h2>
				<p>After a few hours, you receive this email:</p>
				<p>
					<a class="pknav next button is-primary is-medium">
						<span>
							Open email:
						</span>
						<span class="icon">
							<i class="fa fa-arrow-right"></i>
						</span>
					</a>
				</p>
			</div>
		</div>
	</section>
{% endblock %}
{% extends "../partials/basic-template.njk" %}