{% set title = "Peer Pact Home" %}
{% block narrator %}
	<b>So an hour goes by. Hopefully, you’re excited and working some on your project… You receive this email:</b>
{% endblock %}
{% block content %}
	<div class="center" style="max-width:1000px;">
		<h2>Email received:</h2>
		<img src="img/emails/intro.png" alt="">
		<br>
		<a href="7.html">(Next Event)</a>
	</div>
{% endblock %}
{% extends "../partials/basic-template.njk" %}