{% set title = "Terminal 1" %}
{% block nav %}
	{% include "nav-guest.njk" %}
{% endblock %}
{% block content %}
	<div class="section main-heading">
		<div class="max-width960">
			<br><br><br>
			
			<h2 class="title t1-hero">At Terminal 1, we pair <span class="prog">great programmers</span> <br> with <span class="engi">strong engineering cultures</span> in Hong Kong.</h2>
			<br><br><br>
			<div class="has-text-centered">
				<a href="" class="button is-primary is-large">Apply with Terminal 1 Now</a>
			</div>
		</div>
	</div>
	<div class="hero-body main-process has-text-centered">
		<div class="max-width960">
			<div class="column">
				<h1 class="title is-2">
				Our process is designed to help you <br> shine and nab the interview.
				</h1>
				<h2 class="subtitle is-4">
				We're experienced recruiters and know what companies are looking for.
				</h2>
				<br><br>
			</div>
			<div class="column 3col">
				<div class="columns has-text-centered">
					<div class="column is-4">
						<img src="http://bulma.io/images/placeholders/128x128.png" alt="">
						<p>Fill out a Basic Profile</p>
					</div>
					<div class="column is-4">
						<img src="http://bulma.io/images/placeholders/128x128.png" alt="">
						<p>Add an assessment</p>
					</div>
					<div class="column is-4">
						<img src="http://bulma.io/images/placeholders/128x128.png" alt="">
						<p></p>
					</div>
					<!--					<b>Steps:</b>
					<br><br>
					<p>
						1. Fill in a basic profile <br>
						2. Add at least 1 badge for each role (badges can either come from MC quiz, take-home assessments, or previous accomplishments) <br>
						3. Optionally add extras like references <br><br>
						<b>Depending on your badge, we help get you in the door at with multiple roles different companies, some of which use us exclusively.</b>
					</p>-->
				</div>
				<br><br>
				<h3 class="subtitle is-4">Depending on your badge, we help get you in the door at multiple roles with different companies, some of which use us exclusively.</h3>
			</div>
		</div>
	</div>
	<div class="hero-body main-why">
		<div class="max-width960">
			<div class="column ">
				<h1 class="title is-2">
					It's easy to get started
				</h1>
			</div>
			<div class="column">
				<div class="content">
					<p>
						
					</p>
				</div>
			</div>
		</div>
		<br><br><br>
		<div class="has-text-centered">
			<a href="" class="button is-large is-primary">Apply with Terminal 1 Now</a>
		</div>
		<br><br><br>
	</div>
{% endblock %}
{% block narrator %}
{% endblock %}
{% extends "../partials/my-template.njk" %}