{% set title = "Terminal 1" %}
{% block content %}
	<div class="section profile-heading">
		<div class="container has-text-centered">
			
		</div>
		<div class="columns">
			<div class="column is-2">
				<div class="image is-128x128 avatar">
					<img src="https://placehold.it/256x256">
				</div>
			</div>
			<div class="column is-4 name">
				<p>
					<span class="title is-bold">Spencer Ying</span>
				</p>
				<p class="tagline">Software Developer, Project Management, UX, Startups</p>
				<p>From the <b>US</b></p>
			</div>
			<div class="column is-6">
				<h2 class="title">Find a consultant that is best suited to you.</h2>
				<h4 class="subtitle">Our consultants have a background</h4>
				<p></p>
			</div>
		</div>
	</div>
{% endblock %}
{% block narrator %}
	<p><a href="index_a.html">Option A</a></p>
{% endblock %}
{% extends "../partials/my-template.njk" %}