{% set title = "Terminal 1" %}
{% block content %}
	<div class="section main-heading">
		<div class="max-width960">
			<div class="container has-text-centered">
				<br><br><br><br>
				<p class="title">Scroll through our list of consultants (each associated with a role / areas) and pick the one that's best suited for you.</p>
				<br><br><br><br>
			</div>
			<div class="columns">
				<div class="column is-2">
					<div class="image avatar">
						<img src="https://placehold.it/256x256">
					</div>
				</div>
				<div class="column name">
					<p>
						<span class="title is-bold">Kirill Pavlov</span> is a software developer and recruiter from Terminal 1. He has industry experience as a Software Engineer at Yandex and a Data Scientist at Asia Miles.
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block narrator %}
	<p><a href="index_a.html">Option A</a></p>
{% endblock %}
{% extends "../partials/my-template.njk" %}