{% set title = "Peer Pact Home" %}
{% block narrator %}
	<b>This is the end of the prototype experience.Please go back to see other scenarios or take the final survey!</b>
	<br><br>
	<a href="9.html">Back</a> <br><br>
	<a href="https://spencer17.typeform.com/to/QBJMzs">Final Survey</a>
{% endblock %}
{% block content %}
	<div class="center" style="max-width:1000px;">
		<h2>Your peer has sent you some work! Email received:</h2>
		<img src="img/emails/peerbroke.png" alt="">
		<br><br>
		<script>
			$().ready(function() {
				$(".restore").click(function() {
					alert("If you send a lifeline, your link will be restored. You will again create a pact with them and continue to turn in work at your deadline like nothing happened.");
				});
				$(".let-go").click(function() {
					alert("If you let them go, you will arrive back at the peer chooser screen where you can ask for another anonymous peer or invite someone.");
				});
			});
		</script>
		
		<a class="restore btn">Send a lifeline.</a><br><br>
		<a class="let-go btn">No, let them go, I want another.</a>
		<br><br>
		<a href="9.html">Back</a> <br><br>
		<a href="https://spencer17.typeform.com/to/QBJMzs">Final Survey</a>
	</div>
{% endblock %}
{% extends "../partials/basic-template.njk" %}