{% set title = "Peer Pact Home" %}
{% block narrator %}
	<b>A day before your deadline...</b>
{% endblock %}
{% block content %}
	<div class="center" style="max-width:1000px;">
		<h2>Email received:</h2>
		<img src="img/emails/checkin.png" alt="">
		<br><br>
		<a href="9.html">Check in work</a>
	</div>
{% endblock %}
{% extends "../partials/basic-template.njk" %}