{% set title = "Basic Template" %}
{% block content %}
	<h2>Welcome to the basic version of HTML Starterkit.</h2>
	<p>Please visit the docs <a href="http://github.com/lifedispenser">on github</a> to learn how to use.</p>
{% endblock %}

{% extends "../partials/basic-template.njk" %}