<div class="has-text-centered">
	<h2 class="title is-3">Conway's Game of Life (coding challenge)</h2>
	<h2 class="subtitle is-5"></h2>
	<br>
</div>
<div class="columns">
	<div class="column is-6">
		<div class="content">
			<p>Develop a multiplayer version of Conway's Game of Life on the browser with your favorite tech stack.</p>
		</div>
	</div>
	<div class="column is-6">
		<div class="card">
			<header class="card-header">
				<p class="card-header-title">
					Requirements
				</p>
				<a class="card-header-icon">
					<span class="icon">
						<i class="fa fa-question"></i>
					</span>
				</a>
			</header>
			<div class="card-content">
				<div class="level">
					<div class="level-item">
						<div>
							<p class="heading">Time Allowed</p>
							<p class="subtitle is-5">7 days</p>
						</div>
					</div>
					<div class="level-item">
						<div>
							<p class="heading"> Est. Completion Time</p>
							<p class="subtitle is-5">8 hours</p>
						</div>
					</div>
				</div>
				<ul>
					<li>Requires Laptop</li>
					<li>Knowlege of web programming languages of choice</li>
					<li>Implement real time updates on the browser</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<br>
<div class="has-text-centered">
	<a href="" class="button is-primary">Start This Assessment</a>
	<br>
	<small><b>Warning:</b> starting this assessment means you cannot take another assessment until this one is completed.</small>
</div>
<div class="section">
	<p>A <b>full pass</b> on this assessment awards: </p>
	{% include 'role-badge.njk' %}
	<p>The <b>grading metrics</b> on each skill are as follows:</p><br>
	{% include 'skills-badge.njk' %}
	{% include 'skills-badge.njk' %}
	{% include 'skills-badge.njk' %}
	{% include 'skills-badge.njk' %}
</div>