<nav class="level fb">
	<div class="level-left">
		<p class="fb-tags">
			<a href="">Web</a>
			<a href="">Enterprise</a>
		</p>
	</div>
	<div class="level-right">
		<p class="fb-amt">
			21 Roles
		</p>
	</div>
</nav>