<div class="fblarge">
	<div class="columns">
		<div class="column is-3">
			<div class="fblarge-subbox">
				<p class="header">Role</p>
				<p class="control is-expanded">
					<span class="select is-fullwidth">
						<select>
							<option>Select Role</option>
							<option>This is a huge option that has a lot of text</option>
						</select>
					</span>
				</p>
			</div>
		</div>
		<div class="column is-3">
			<div class="fblarge-subbox">
				<p class="header">Level</p>
				<p class="control is-expanded">
					<span class="select is-fullwidth">
						<select>
							<option>Select dropdown</option>
							<option>With options</option>
						</select>
					</span>
				</p>
			</div>
		</div>
		<div class="column is-3">
			<div class="fblarge-subbox">
				<p class="header">Time Requirement</p>
				<p class="control is-expanded">
					<span class="select is-fullwidth">
						<select>
							<option>Full Stack Developer with a lot of text</option>
							<option>With options</option>
						</select>
					</span>
				</p>
			</div>
		</div>
	</div>
	<nav class="level fb">
		<div class="level-left">
			<p class="fb-tags">
				<a class="highlighted" href="">Web</a>
				<a href="">Enterprise</a>
			</p>
		</div>
		<div class="level-right">
			<p class="fb-amt">
				21 Roles
			</p>
		</div>
	</nav>
</div>