<table class="table lv">
	<thead>
		<tr>
			<th>Title</th>
			<th>Badges Earned</th>
			<th>Time</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Front End Engineer (Modern Web)</td>
			<td>
				UI Design, Single Page Apps, Algorithms, Testing
			</td>
			<td>45 mins</td>
			<td><a href="">View</a></td>
		</tr>
		<tr>
			<td>Front End Engineer (Java)</td>
			<td>
				UI Design, Single Page Apps, Algorithms, Testing
			</td>
			<td>2-8 hours </td>
			<td><a href="">View</a></td>
		</tr>
		<tr>
			<td>Front End Engineer (C++)</td>
			<td>
				UI Design, Single Page Apps, Algorithms, Testing
			</td>
			<td>1.5 hours</td>
			<td><a href="">View</a></td>
		</tr>
		<tr>
			<td>Back End Engineer (Modern Web)</td>
			<td>
				UI Design, Single Page Apps, Algorithms, Testing
			</td>
			<td>8 hours</td>
			<td><a href="">View</a></td>			
		</tr>
	</tbody>
</table>
<nav class="pagination is-centered">
	<a class="pagination-previous">Previous</a>
	<a class="pagination-next">Next</a>
	<ul class="pagination-list">
		<li><a class="pagination-link">1</a></li>
		<li><span class="pagination-ellipsis">&hellip;</span></li>
		<li><a class="pagination-link">3</a></li>
		<li><a class="pagination-link is-current">4</a></li>
		<li><a class="pagination-link">5</a></li>
		<li><span class="pagination-ellipsis">&hellip;</span></li>
		<li><a class="pagination-link">7</a></li>
	</ul>
</nav>