<aside class="column is-2 menu left-nav is-hidden-mobile">
	<div class="menu-label">All Items</div>
	<ul class="menu-list">
		<li>
			<a href="/dev/assessments.html">Assessments</a>
		</li>
		<li>
			<a href="/dev/skills.html">Skills</a>
		</li>
		<li>
			<a href="/dev/roles.html">Roles</a>
		</li>
		<li>
			<a href="/dev/companies.html">Companies</a>
		</li>
		<li>
			<a href="/dev/jobs.html">Jobs</a>
		</li>
	</ul>
</aside>