<nav class="nav has-shadow" id="top">
    <div class="container max-width960">
      <div class="nav-left">
        <a class="nav-item" href="../index.html">
          <img src="/images/logo-qupital.png" alt="Description"> &nbsp; Qupital &nbsp;&nbsp; <i class="fa fa-long-arrow-right light-grey" aria-hidden="true"></i>&nbsp;&nbsp;
 Head of Corporate Sales
        </a> 
      </div>
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu" >
        <span class="nav-item">
          <a class="button is-outline">
            Back to Jobs
          </a>
        </span>
      </div>
    </div>
  </nav>