<aside class="column is-2 menu left-nav is-hidden-mobile">
			<div class="has-text-centered">
				<a href="/9.html" class="button">View Your Profile</a>
			</div>
			<br>
			<div class="menu-label">Edit Profile</div>
			<ul class="menu-list">
				<li><a href="/1__1.html">Basic Information</a></li>
				<li>
					<a href="/2.html">Role: DevOps Engineer</a>
					<ul>
						<li><a href="3.html">Level: Senior</a></li>
						<li><a href="2.html">Assessments</a></li>
						<li><a href="4.html">Status: Pending</a></li>
					</ul>
				</li>
				<li>
					<a href="/5.html">Change Role</a>
				</li>
			</ul>
		</aside>