<div class="narrator-bar hide">View Narrator</div>
    <div class="narrator">
      <script> 
        function hideNarrator() {
          $(".narrator").addClass("hide");
          $(".narrator-bar").removeClass("hide");
        }
        function showNarrator() {
          $(".narrator").removeClass("hide");
          $(".narrator-bar").addClass("hide");
        }
        $().ready(function() {
          console.log($(".narrator .content").text().trim().length);
          if($(".narrator .content").text().trim().length == 0) {
            hideNarrator();
          }
          $(".narrator .close").click(function() {
            hideNarrator();
          });
          $(".narrator-bar").click(function() {
            showNarrator();
          })
        });
      </script>
      <div class="close">×</div>
      <div class="content">
      {% block narrator %}
      {% endblock %}
      </div>
      <div class="nav">
        <a class="pknav restart">Restart</a>
        <a class="pknav prev">Prev</a>
        <a class="pknav next">Next</a>
      </div>
    </div>