<div class="columns roles">
					<div class="column is-4 has-text-centered">
						<br><br>
						<img src="http://bulma.io/images/placeholders/128x128.png">
						<br>
						<div class="role-title">
							DevOps Engineer
						</div>
					</div>
					<div class="column is-8">
						<table class="table">
							<tr>
								<th colspan="3">One Sentence Description of Role</th>
							</tr>
							<tr>
								<td><i class="fa fa-question-circle-o" aria-hidden="true"></i>
</td>
								<td>Skill</td>
								<td>1 Sentence Description of Skill</td>
							</tr>
							<tr>
								<td><i class="fa fa-question-circle-o" aria-hidden="true"></i>
								<td>Skill</td>
								<td>1 Sentence Description of Skill</td>
							</tr>
							<tr>
								<td><i class="fa fa-question-circle-o" aria-hidden="true"></i>
								<td>Skill</td>
								<td>1 Sentence Description of Skill</td>
							</tr>
							<tr>
								<td><i class="fa fa-question-circle-o" aria-hidden="true"></i>
								<td>Skill</td>
								<td>1 Sentence Description of Skill</td>
							</tr>
							<tr>
								<td><i class="fa fa-question-circle-o" aria-hidden="true"></i>
								<td>Skill</td>
								<td>1 Sentence Description of Skill</td>
							</tr>
						</table>
					</div>
				</div>