<div class="columns roles">
	<div class="column is-3">
		<div class="role-title has-text-centered">
			Junior DevOps Engineer
		</div>
		<div class="badgetitle has-text-centered">
			<div class="badge-image">
				<img src="http://bulma.io/images/placeholders/128x128.png"><br>
			</div>
		</div>
	</div>
	<div class="column is-9">
		<p>Handles continuous integration, delivery, deployment, uptime, and code quality/maintenance for the team.</p>
		
		<table class="table">
			<tr>
				<th>Level</th>
				<th>Skill</th>
				<th>Description</th>
			</tr>
			<tr>
				<td><i class="fa fa-dot-circle-o bronze" aria-hidden="true"></i>
				</td>
				<td class="link"><a href="">Java Platform</a></td>
				<td>Low level programming, taught as POSIX in universities, including C, memory allocation</td>
			</tr>
			<tr>
				<td><i class="fa fa-dot-circle-o silver" aria-hidden="true"></i>
				</td>
				<td class="link"><a href="">Object Oriented Programming</a></td>
				<td>SQL + NoSQL + Queues (Web Architecture) + Scaling</td>
			</tr>
			<tr>
				<td><i class="fa fa-dot-circle-o silver" aria-hidden="true"></i></td>
				<td class="link"><a href="">Algorithmic Programming</a></td>
				<td>Complexity + Recursion + Induction</td>
			</tr>
			<tr>
				<td><i class="fa fa-dot-circle-o gold" aria-hidden="true"></i></td>
				<td class="link"><a href="">Test, CI/CD, and Site Reliability</a></td>
				<td>1 Sentence Description of Skill</td>
			</tr>
			<tr>
				<td><i class="fa fa-dot-circle-o silver" aria-hidden="true"></i></td>
				<td class="link"><a href="">API Design</a></td>
				<td>Web Architecture. API design, documentation, REST, JSON, Networks, Latency. Microservice architecture.</td>
			</tr>
		</table>
	</div>
</div>