<div class="columns roles">
	<div class="column is-4 has-text-centered">
		<br>
		<img src="http://bulma.io/images/placeholders/128x128.png">
		<br>
		<div class="role-title">
			{{lvl}} DevOps Engineer
		</div>
		<div class="has-text-centered">
			<a href="/3__1.html" class="button is-primary">Select this Level</a>
		</div>
	</div>
	<div class="column is-8">
		<table class="table">
			<tr>
				<th colspan="3">One Sentence Description of Role</th>
			</tr>
			<tr>
				<td><i class="fa fa-dot-circle-o bronze" aria-hidden="true"></i>
				</td>
				<td>Skill</td>
				<td>1 Sentence Description of Skill</td>
			</tr>
			<tr>
				<td><i class="fa fa-dot-circle-o silver" aria-hidden="true"></i>
					<td>Skill</td>
					<td>1 Sentence Description of Skill</td>
				</tr>
				<tr>
					<td><i class="fa fa-dot-circle-o silver" aria-hidden="true"></i>
						<td>Skill</td>
						<td>1 Sentence Description of Skill</td>
					</tr>
					<tr>
						<td><i class="fa fa-dot-circle-o gold" aria-hidden="true"></i>
							<td>Skill</td>
							<td>1 Sentence Description of Skill</td>
						</tr>
						<tr>
							<td><i class="fa fa-dot-circle-o silver" aria-hidden="true"></i>
								<td>Skill</td>
								<td>1 Sentence Description of Skill</td>
							</tr>
						</table>
					</div>
				</div>