<div class="columns roles is-multiline">
	<div class="column is-1 badgetitle">
		<div class="has-text-centered badge-image">
			<img src="http://bulma.io/images/placeholders/128x128.png"><br>
			<div class="level">
				<i class="fa fa-dot-circle-o bronze" aria-hidden="true"></i>
			</div>
		</div>
	</div>
	<div class="column is-11 badgesummary">
		<p class="title is-4">
			DevOps Engineer
		</p>
		<p class="subtitle is-5">Handles continuous integration, delivery, deployment, uptime, and code quality/maintenance for the team. <a class="seeskills" href="">show skills</a></p>
		<div class="float-seemore"></div>
	</div>
	<div class="column is-12 badgeskills">
		<table class="table">
			<tr>
				<th>Level</th>
				<th>Skill</th>
				<th>Description</th>
			</tr>
			<tr>
				<td><i class="fa fa-dot-circle-o bronze" aria-hidden="true"></i>
				</td>
				<td class="link"><a href="">Java Platform</a></td>
				<td>Low level programming, taught as POSIX in universities: OS/Nix/Shell + Signals/Interrupts + C/Pointers/Memory + Bits/Bytes</td>
			</tr>
			<tr>
				<td><i class="fa fa-dot-circle-o silver" aria-hidden="true"></i>
				</td>
				<td class="link"><a href="">Object Oriented Programming</a></td>
				<td>SQL + NoSQL + Queues (Web Architecture) + Scaling</td>
			</tr>
			<tr>
				<td><i class="fa fa-dot-circle-o silver" aria-hidden="true"></i></td>
				<td class="link"><a href="">Algorithmic Programming</a></td>
				<td>Complexity + Recursion + Induction</td>
			</tr>
			<tr>
				<td><i class="fa fa-dot-circle-o gold" aria-hidden="true"></i></td>
				<td class="link"><a href="">Test, CI/CD, and Site Reliability</a></td>
				<td>1 Sentence Description of Skill</td>
			</tr>
			<tr>
				<td><i class="fa fa-dot-circle-o silver" aria-hidden="true"></i></td>
				<td class="link"><a href="">API Design</a></td>
				<td>Web Architecture. API design, documentation, REST, JSON, Networks, Latency. Microservice architecture.</td>
			</tr>
		</table>
	</div>
</div>