<div class="columns roles">
	<div class="column is-3 has-text-centered">
		<br>
		<img src="http://bulma.io/images/placeholders/64x64.png">
		<br>
		<div class="role-title">
			Algorithmic Programming
		</div>
	</div>
	<div class="column is-9">
		<table class="table">
			<tr>
				<th colspan="3">Complexity, Recursion, & Induction</th>
			</tr>
			<tr>
				<td><i class="fa fa-dot-circle-o silver" aria-hidden="true"></i>
				</td>
				<td>Metric 1</td>
				<td>Graded based on qualifications of blah blah.</td>
			</tr>
			<tr>
				<td><i class="fa fa-dot-circle-o gold" aria-hidden="true"></i></td>
				<td>Metric 2</td>
				<td>Graded based on qualifications of blah blah.</td>
			</tr>
			<tr>
				<td><i class="fa fa-dot-circle-o silver" aria-hidden="true"></i></td>
				<td>Metric 3</td>
				<td>Graded based on qualifications of blah blah.</td>
			</tr>
		</table>
	</div>
</div>