@import "https://fonts.googleapis.com/css?family=Lato:300|Roboto:300,700";

body {
	font-family: 'Roboto';
	font-weight: 300;
	background-color: #F3F3F3;
}

h2 {
	font-family: "Lato";
	font-weight: 300;
}

/* filter bar */
.fb {
	&-tags {
		a {
			padding: 3px 10px;
			margin-left: 10px;
			&.highlighted {	
				// &:hover 
				padding:3px 10px;
				background-color: $primary;
				border-radius: 20px;
				color: white;
			}
		}
	}
	&-amt {
		font-size:14px;
	}
}	

.fblarge {
	border-radius: 0px;
	padding: 0;
	// border:1px solid $grey-lighter;
	box-shadow:none;
	padding-bottom:20px;
	.columns {
		margin:0;
	}
	.column {
		padding:0;
	}
	&-subbox {
		padding: 5px 17px 3px;
		.header {
			font-size:10px;
			text-transform: uppercase;
			padding-bottom:7px;
			color: $grey;
		}
		.value {
			display: flex;
			justify-content: center;
			flex-direction: column;
			min-height: 70px;
			font-size: 14px;
		}
		.change {
			font-size: 10px;
			width:100%;
			visibility:hidden;
		}
		&:hover {
			// background-color: $white-bis;
			// .change {
			// 	visibility: visible;
			// }
		}
	}
	.fb {
		padding-top: 5px;
	}
}


table.lv {
	th {
		font-size:12px;
		text-transform: uppercase;
		color: $grey;
		font-weight: normal;
	}
}
.gv {
	overflow:hidden;
	position: relative;
	.expand {
		position: absolute;
		right:0;
		top:30px;
		padding-right:10px;
		padding-left:10px;
		transform: rotate(90deg);
		background-color: #eee;
	}
	&-title {
		font-size: 14px;
		padding: 5px 0 10px;
	}
	img {
		border-radius: 1000px;
	}
}

.cd {
	h2 {
		font-size:24px;
		margin-bottom:10px;
	}
	p {
		font-size:16px;
	}
}
.rb {
	&-small {
		.level-wrap {
			width:15px;
		}
		td { 
			vertical-align: middle;
			text-align: center;
		}
	}
	&-image {
		width: 128px;
	}
	&-level {
		transform: rotate(-90deg);
	}
	img {
		border-radius: 10000px;
	}	
	&-title {
		text-align: center;
	}
}

.panel-block {
	&:hover {
		color: black!important;
	}
	&.is-completed .panel-icon {
		color: $green;
		.title:hover {
			color: $red;
		}
	}
	&.is-active {
		background-color: #efefef;
		.title {
			font-weight: 600;
		}
	}
	&.is-disabled, &.is-disabled .title, &.is-disabled .panel-icon {
		color: #aaa;
	}
}
[choice] .pksave {
	visibility:hidden;
}
[choice]:hover .pksave{
	visibility:visible;
}
.max-width960 {
	margin: 0 auto;
	max-width:960px;
}
.max-width800 {
	margin: 0 auto;
	max-width:800px;
}
.embed {
	border:1px solid #ccc;
	padding:10px;
}
.company-intro, .job-intro {
	background-color: $white-bis;
	.company {
		&-title {
			font-weight: bold;
			margin-bottom: 10px;
		}
		&-desc {
			line-height: 24px;
			font-size: 16px;
		}
		&-stat {
			color: $grey;
			.stat-key {
				font-size:16px;
			}
			.stat-val {
				text-transform: uppercase;
				font-size:11px;
			}
		}
		&-about {
			font-size: 15px;
			line-height: 24px;
		}
		&-login {
			margin: 0 30px;
		}
	}
}
.job-intro .jobs-title {
	font-weight: bold;
}
.jobs {
	.available {
		font-size:16px;
		text-transform: uppercase;
		color: $grey;
		padding-bottom:40px;
	}
	&-title {
		font-size:24px;
		margin-bottom: 7px;
	}
	&-tags {
		span {
			padding-right: 30px;
			text-transform: uppercase;
			font-size:12px;
		}
		i {
			color: $grey-lighter;
			padding-right: 10px;
		}
	}
}
.job-text .content{
	font-size: 16px;
	line-height: 28px;	
}
footer {
	p {
		font-size:15px;
	}
}

.light-grey {
	color: $grey-lighter;
}

.main-heading {
	.mh-title {
		line-height: 46px;
	} 

	img {
		border-radius:200px;
	}
	.name {
		font-size:16px;
	}
	.recruiter .content {
		font-size: 18px;
	}
	.pagination-link {
		font-size: 16px;
	}
}
.main-process {
	background-color: $white-bis;
	.title {
		font-size:32px;
		line-height: 48px;
	}
	.content {
		font-size: 16px;
	}
	.3col {
		img {
			border-radius: 300px;
		}
		font-size:18px;
	}
}

.main-why {
	.content {
		font-size: 17px;
		line-height: 28px;
	}
}
.profile-heading {
	.title {
		margin-bottom:5px;
	}
	.avatar img {
		border-radius:400px;
	}
	.contact {
		font-size:12px;
		span.email {
			padding-right: 10px;
		}
	}
	.role {
		margin-bottom: 5px;
		i {
			padding-top:2px; /* make vcentered later */
			padding-right: 5px;
			color: $blue;
		}
		font-size: 16px;
	}
	.stat {
		&-val {
			font-size: 18px;
		}
		&-key i {
			font-size:42px;
			padding-top: 16px;
			color: $blue;
		}
	}
}
.highlights {
	.badge {
		padding: 10px;
		i {
			padding-right: 5px;
			color: $grey-light;
		}
		&-title {
			font-size: 16px;
		}
		p {
			padding-top: 5px;
		}
	}
}
.references {
	.referrer {
		.name	{
			font-size:20px;	
		}
		.role {
			font-size: 16px;
			padding-right: 12px;
		}
	}
	.media-content {
		font-size: 16px;
		i {
			color: $grey-lighter;
			padding: 0 20px;
		}
	}
}

.page {
	margin-top: 10px;
	padding: 50px 40px;
	background-color: white;
	box-shadow: 0px 0px 5px #ccc;
	margin-bottom: 50px;
}

.left-nav {
	background-color: white;
	box-shadow: 0 0 3px #ccc;
	padding: 30px;
}
.helpertxt {
	background-color: $white-bis;
}
table {
	tr.open {
		td {
			border-bottom: 0;
		}
		
	}
	tr.open + tr > td:first {
		padding-left: 30px;
	}
}
.featured {
	i {
		color: $red;
	}
}

.roles {
	.badgetitle {
		display:flex;
		align-items:center;
		justify-content: center;
	}
	.badge-image {
		position: relative;
		.level {
			position: absolute;
			bottom:0;
			right:0;
		}
	}
	.seeskills {
		font-size: 12px;
	}
	.badgesummary {
		position: relative;
		.float-seemore {
			position: absolute;
			bottom: 20px;
			right: 30px;
		}	
	}
	.badgeskills {
		margin-top:-29px;
	}
	
	img {
		border-radius:3000px;
	}
	.role-title {
		font-size: 20px;
		padding-bottom:15px;
	}
	i {
		color: $grey-light;
	}
	table {
		th, td {
			padding:0 4px;
		}
		th {
			font-size:8px;
			text-transform: uppercase;
			font-weight: normal;
			color: $grey-light;
		}
		td:first-child {
			padding-left:5px;
		}
		td.link {
			width:200px;
			font-size:12px;
			// max-width: 120px;
			// overflow:hidden;
			// text-overflow: ellipsis;
			// white-space: nowrap;
			a {
			}
		}
		td:last-child {
			font-size:12px;
		}
		td {
			border:0;
			padding-bottom:2px;
			padding-top:2px;
		}
	}
}

.section-role {
	
}
.line {
	position: relative;
	right:-40px;
	margin-top:85px;
	border:2px solid grey;
	height:69%;
	border-right: 0;
}

.crumbs {
	width: auto;
	th {
		border: 0;
		font-size: 8px;
		font-weight: normal;
		padding:0;
		margin: 0;
		color: $grey;
	}
	td {
		padding: 0;
		padding-right: 20px;
		font-size: 12px;
	}
}

i.bronze {
	color: $bronze;
}
i.silver {
	color: $silver;
}
i.gold {
	color: $gold;
}

.box.status {
	border-radius: 0px;
	padding: 0;
	text-align: center;
	border:1px solid $grey-lighter;
	box-shadow:none;
	.columns {
		margin:0;
	}
	.column {
		padding:0;
	}
	.subbox {
		padding: 5px 17px 3px;
	}
	.header {
		font-size:10px;
		text-transform: uppercase;
		padding-bottom:7px;
		color: $grey;
	}
	.value {
		display: flex;
		justify-content: center;
		flex-direction: column;
		min-height: 70px;
		font-size: 14px;
	}
	.change {
		font-size: 10px;
		width:100%;
		visibility:hidden;
	}
	.subbox:hover {
		background-color: $white-bis;
		.change {
			visibility: visible;
		}
	}
}

.t1-hero {
	line-height: 60px;
}

.prog, .engi {
	border: 1px solid $grey-lighter;
	padding:10px 2px;

	font-weight: bold!important;
}
.prog {

}
.engi {

}