{% set title = "Home Page 2" %}
{% block content %}
	<h2 class="title is-3">List of widgets</h2>
	<hr>
	
	<h2 class="title is-4">ALL ____s</h2>
	<h2 class="title is-5">Filter Bar</h2>
	<div class="max-width960 embed">
		{% include '_filter-bar.njk' %}
	</div>
	<h2 class="title is-5">Filter Bar Large</h2>
	<div class="max-width960 embed">
		{% include '_filter-bar-large.njk' %}
	</div>
	<h2 class="title is-5">List View</h2>
	<div class="max-width960 embed">
		{% include '_list-view.njk' %}
	</div>
	<h2 class="title is-5">Small List View EX</h2>
	<div class="max-width960 embed">
		{% include '_filter-bar.njk' %}
		{% include '_list-view.njk' %}
	</div>
	<h2 class="title is-5">Full List View EX</h2>
	<div class="max-width960 embed">
		{% include '_filter-bar-large.njk' %}
		{% include '_list-view.njk' %}
	</div>
	<h2 class="title is-5">Grid View</h2>
	<div class="max-width960 embed">
		{% include '_filter-bar.njk' %}
		{% include '_grid-view.njk' %}
	</div>
	<h2 class="title is-5">Grid View w/ Title</h2>
	{% set expand = 1 %}
	<div class="max-width960 embed">
		<h2 class="title is-3">Roles</h2>
		{% include '_grid-view-expand.njk' %}
	</div>
	<h2 class="title is-4">____: Description</h2>
	<div class="max-width960 embed">
		{% include '_content-desc.njk' %}
	</div>
	
	<h2 class="title is-5">Role - small</h2>
	<div class="max-width960 embed">
		{% include '_role-badge-small.njk' %}
	</div>
	
	<h2 class="title is-5">Role - large + expanded</h2>
{% endblock %}
{% block narrator %}
{% endblock %}
{% extends "../partials/my-template.njk" %}